<style>
    form{
          align-items: center;
        margin-left: 30%;
        margin-top: 4%;
        border: 1px solid;
        width: 35%;
        padding: 4%;
    }

    button{
      margin-left: 45%;
    }
    h3{
      margin-left: 40%;
      margin-top: 6%;
    }
    h4{
       margin-left: 40%;
       color: red;
    }
</style>
<h3> Please Provide bellow details for scrapping</h3>
<h4>{{ data }}</h4>
<form method="post" novalidate>
  {% csrf_token %}
  <table border="1">
  <label for="cname">Category name:</label>
  <input type="text" id="cname" name="cname" placeholder = "Enter Category"  style="margin-left: 9%; width: 400px;" required /><br><br>
  <label for="url">Url:</label>
  <input type="text" id="url" placeholder = "Enter url " name="url" style="margin-left: 21%; width: 400px;" required /><br><br><br>
  </table>
  <button type="submit">Submit</button>
</form>